 <div ng-controller="UserReposController as userReposCtrl">
     
    <h2>Projects</h2>
    <div class="sort-order" style="margin: 0 0 10px;">
        <label for="repository-sort-order">Sort order:</label>
        <select id="repository-sort-order" ng-model="repositorySortOrder">
            <option value="+name">Name</option>
            <option value="-stars">Stars</option>
            <option value="+language">Language</option>
        </select>
    </div>
    <table>
        <thead style="font-weight: bold;">
            <tr>
                <td>Name</td>
                <td>Stars</td>
                <td>Language</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repository in user.repositories | orderBy:repositorySortOrder">
                <td><a href ng-click="userReposCtrl.showContributorsOf(repository)">{{ repository.name }}</a></td>
                <td><a href ng-click="userReposCtrl.showStargazersOf(repository)">{{ repository.stars }}</a></td>
                <td>{{ repository.language }}</td>
                <td>{{ repository.description}}</td>
            </tr>
        </tbody>
    </table>
</div>